.software-list-container {
  .media {
    img {
      width: 64px;
      height: 64px;
    }
  }

  .software-versions{
    padding-left: 15px;
  }

  .details {
    > div {
      padding-right: 15px;
    }
    .software-links {
      a {
        padding-right: 15px;
      }
    }

    ul {
      list-style-type: none;
    }

  }
}