<div class="page-header"><h1>Libraries' Software List</h1></div>

<div class="row">
    <div class="col-md-3 col-md-push-9">
        <form>
            <div class="form-group">
                <span class="page-header">
                    <h4>Filter Software List By</h4>
                </span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="soft.search" placeholder="Search software, locations, etc...">
            </div>
            <div class="form-group">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-default active" ng-model="soft.os" btn-radio="''" uncheckable>All</label>
                    <label class="btn btn-default" ng-model="soft.os" btn-radio="'1'" uncheckable><span class="fa fa-fw fa-windows"></span></label>
                    <label class="btn btn-default" ng-model="soft.os" btn-radio="'2'" uncheckable><span class="fa fa-fw fa-apple"></span></label>
                </div>
            </div>
            <div class="form-group hidden-xs">
                <h5>Locations</h5>
                <div class="radio">
                    <label>
                        <input type="radio" value="" ng-model="soft.loc" checked>
                        All Locations
                    </label>
                </div>
                <div class="radio" ng-repeat="loc in locations">
                    <label>
                        <input type="radio" value="{{loc.name}}" ng-model="soft.loc">
                        {{loc.name}}
                    </label>
                </div>
            </div>
            <div class="form-group hidden-xs">
                <h5>Categories</h5>
                <div class="radio">
                    <label>
                        <input type="radio" value="" ng-model="soft.cat">
                        All categories
                    </label>
                </div>
                <div class="radio" ng-repeat="cat in categories">
                    <label>
                        <input type="radio" value="{{cat.name}}" ng-model="soft.cat">
                        {{cat.name}}
                    </label>
                </div>
            </div>
            <div class="form-group hidden-xs">
                <button type="button" class="btn btn-block btn-primary" ng-click="resetFilters()"><span class="fa fa-fw fa-refresh"></span> Reset filters</button>
            </div>
        </form>
    </div>
    <div class="col-md-9 col-md-pull-3 software-list-container">
        <h4 class="text-right" ng-show="pager.totalItems > 0">
            Showing {{pager.firstItem}}-{{pager.lastItem}} of {{pager.totalItems}} results
        </h4>

        <div ng-if="(soft.cat || soft.os || soft.loc) && pager.totalItems > 0">

            <ol class="breadcrumb facetcrumb">
                <li ng-if="soft.os"><strong>OS:</strong> <button type="button" class="btn btn-default" ng-click="soft.os = ''">{{soft.os == 1 ? 'Windows' : 'OS X'}} <span class="text-muted" aria-hidden="true">&times;</span></button></li>
                <li ng-if="soft.loc"><strong>Location:</strong> <button type="button" class="btn btn-default" ng-click="soft.loc = ''">{{soft.loc}} <span class="text-muted" aria-hidden="true">&times;</span></button></li>
                <li ng-if="soft.cat"><strong>Category:</strong> <button type="button" class="btn btn-default" ng-click="soft.cat = ''">{{soft.cat}} <span class="text-muted" aria-hidden="true">&times;</span></button></li>

                <li class="pull-right"><button type="button" class="btn btn-primary btn-small reset-btn" title="Reset filters" ng-click="resetFilters()"><i class="fa fa-refresh"></i></button></li>
            </ol>
        </div>

        <div class="media software-item" ng-repeat="item in filteredSoft | after:(pager.page-1)*pager.perPage | limitTo:20">
            <div class="media-left">
                <img class="media-object" ng-src="{{item.icon}}" alt="{{item.title}}" title="{{item.title}}">
            </div>
            <div class="media-body">
                <h3 class="media-heading" ng-bind-html="item.title | highlight:soft.search">
                </h3>

                <div ng-bind-html="item.description | highlight:soft.search"></div>

                <div class="row">
                    <div class="details-context col-md-6" ng-repeat="ver in item.versions | orderBy:os">
                        <div class="h4 text-muted">
                            <span class="fa fa-{{ver.osName}}"></span>
                            {{ver.version}}
                        </div>
                        <span ng-repeat="loc in ver.locations">
                            <span ng-if="loc.parent" ng-bind-html="(locations | filter:loc.parent)[0].name | highlight:soft.search"></span>
                            <span ng-bind-html="loc.name | highlight:soft.search"></span>
                        </span>
                    </div>
                </div>

                <div class="details hidden-xs">
                    <div class="software-links">
                        <ul class="list-inline nav-justified" style="margin-top: 5px;">
                            <li ng-repeat="link in item.links" ng-if="item.links">
                                <a ng-href="{{link.url}}" class="external-link">{{link.title}}</a>
                            </li>
                            <li ng-if="item.modules">
                                <div collapse="!isCollapsed" ng-bind-html="item.modules | highlight:soft.search"></div>
                                <button class="btn btn-default btn-xs" ng-click="isCollapsed = !isCollapsed">
                                    {{!isCollapsed ? "Show" : "Hide"}} Available Modules
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <pagination class="pagination-sm" ng-model="pager.page" total-items="pager.totalItems" max-size="pager.maxSize" boundary-links="true" rotate="false" items-per-page="pager.perPage" ng-change="pageChange()" ng-if="pager.totalItems > pager.perPage"></pagination>
        </div>

        <div class="alert alert-warning text-center" role="alert" ng-show="pager.totalItems < 1">
            <h2>
                No <span ng-if="soft.cat"><strong>{{soft.cat | lowercase}}</strong></span> software is available
                <span ng-if="soft.os">on <strong>{{soft.os == 1 ? 'Windows' : 'OS X'}}</strong> computers</span>
                <span ng-if="soft.loc">in <strong>{{soft.loc}}</strong></span>
                <span ng-if="soft.search">that matches the search "<strong>{{soft.search}}</strong>"</span>
            </h2>
        </div>
    </div>
</div>